@model IEnumerable<DomainModel.Answers>

@{
    ViewBag.Title = "Отзывы и предложения";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Questions.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdQuestions }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdQuestions }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdQuestions })
                </td>
            </tr>
        }

    </table>
</body>
</html>
